body {
    text-align: center;
    background: #07AEFF;
    background: linear-gradient(0deg, #07AEFF 0%, #BEE8FC 100%);
    padding: 25px;
}

header {
    margin: 5px;
}

main {
    margin: 0 auto;
    width: fit-content;
}

.province {
    background-color: #A8E5FF;
    margin-bottom: 25px;
    padding: 10px;
    border: 3px solid;
    border-radius: 15px;
    box-shadow: 3px 3px 3px;
    max-width: 1200px;
}

.municipality {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 3px 3px 3px;
    width: 250px;
}

.nearest-sensor {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 3px 3px 3px;
}

.label {
    text-align: left;
}

.observation {
    text-align: right;
}

table {
    margin: 0 auto;
}

th {
    text-align: center;
}

#legend {
    margin: 0 auto;
}

.legend-element {
    margin: 0 10px;
    display: inline-block;
}

.box {
    height: 13px;
    width: 13px;
    border: 1px solid black;
    clear: both;
    display: inline-block;
  }
  
  .blue {
    background-color: #0BB5FF;
  }
  
  .orange {
    background-color: #FFAB4A;
  }
  
  .red {
    background-color: #FF4A5F;
  }

  .grey {
      background-color: #989898;
  }