<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <title>Fijnstof Dashboard</title>
    </head>
    <body>
        <header>
            <h1>Fijnstof Dashboard Noord-Nederland</h1>
            <p>Welkom op het fijnstof dashboard van Noord-Nederland! Laatste data: {{ timestamp }}</p>
        </header>
        <main>
            <section id="legend">
                <p>
                    <div class="legend-element">
                        <div class="box blue"></div> Goed
                    </div>
                    <div class="legend-element">
                        <div class="box orange"></div> Matig (nadert Europese norm)
                    </div>
                    <div class="legend-element">
                        <div class="box red"></div> Slecht (boven Europese norm)
                    </div>
                    <div class="legend-element">
                        <div class="box grey"></div> Geen data bekend
                    </div>
                </p>
            </section>
            {% for province in provinces %}
            <section class="province">
                <h2>{{ province.name }}</h2>
                {% for mun in province.municipalities %}
                {% if mun.n_sensors == 0 %}
                <a>
                {% else %}
                <a href="./maps/{{mun.code}}.html">
                {% endif %}
                <section class="municipality" style="background-color: {{ mun.color }};">
                    {% if mun.n_sensors == 0 %}
                    <table>
                        <tr><th colspan="2">{{ mun.name }}</th></tr>
                        <tr><td colspan="2"><br></td></tr>
                        <tr><td colspan="2">Geen data beschikbaar</td></tr>
                        <tr><td colspan="2"><br></td></tr>
                        <tr><td colspan="2"><br></td></tr>
                        <tr><td colspan="2"><br></td></tr>
                    </table>
                    {% else %}
                    <table>
                        <tr><th colspan="2">{{ mun.name }}</th></tr>
                        <tr><td class="label">PM2,5</td><td class="observation">{{ mun.pm25 }} &mu;g/m3</td></tr>
                        <tr><td class="label">PM10</td><td class="observation">{{ mun.pm10 }} &mu;g/m3</td></tr>
                        <tr><td class="label">Temperatuur</td><td class="observation">{{ mun.temp }}&deg;C</td></tr>
                        <tr><td class="label">Luchtvochtigheid</td><td class="observation">{{ mun.rh }}%</td></tr>
                        <tr><td class="label">Sensoren</td><td class="observation">{{ mun.n_sensors }}</td></tr>
                    </table>
                    {% endif %}
                </section>
                </a>
                {% endfor %}
            </section>
            {% endfor %}
        </main>
    </body>
</html>
